<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.example.taskplanner.PlannerApp"
        android:label="Планировщик задач"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Planner">
        <activity android:name="com.example.taskplanner.presentation.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
